.container {
    background: #272b4d;
    width: 230px;
    height: 230px;
    border-radius: 8px;
}

.graphComponent {
    transition: fill 0.3s ease, stroke 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}